{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col my-auto">
                {% for product in products %}
                    <div>
                        <h5>{{ product.name }}</h5>
                        <p>{{ product.sku }}</p>
                        <img src="{{ product.image_url }}">
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}